.cv-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Light background with transparency */
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #1d4f49; /* Matching theme color */
}

.cv-header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #1d4f49;
    padding-bottom: 10px;
}

.cv-header h1 {
    font-size: 40px;
    color: #1d4f49;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cv-header p {
    font-size: 20px;
    color: #005e53;
}

.cv-body {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cv-left {
    flex: 1;
    padding-right: 20px;
    border-right: 5px solid #1d4f49;
}

.cv-right {
    flex: 2;
    padding-left: 20px;
}

.profile-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 400px;
}

.contact-info p {
    font-size: 16px;
    color: #1d4f49;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 50px;
    color: #005e53;
    border-bottom: 1px solid #1d4f49;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.education-item,
.skills-section {
    margin-bottom: 20px;
}

.p-text{
    font-size: 25px;
    color: #333;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
    color: #555;
}

.skills-section h3 {
    font-size: 22px;
    color: #005e53;
    margin-top: 10px;
}


.imagecentered {
    text-align: center;
    margin-top: 20px;
}

.video-section h3 {
    font-size: 30px;
    color: #005e53;
    margin-bottom: 10px;
}

.video-section video {
    display: block;
    margin: 0 auto;
}